{{ define "main" }}
{{ partial "home/hero" . }}
<div class="main-content content-grid">
    {{ .Content }}
    {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
</div>
{{ end }}

{{ partial "home/services" . }}

<section class="home-info">
    <h2>Information</h2>
    <h3>Western Digital FW Bug Datenrettung</h3>
    <p>Ausfälle diverser Western Digital Festplatten.</p>
    <h3>Samsung SSD Datenrettung</h3>
    <p>Ausfälle diverser samsung SSD.</p>
    <h3>Datenrettung Seagate</h3>
    <p>Massenausfall von Seagate Barracuda 7200.11 Festplatten</p>
    <h3>Festplatten Datenbank</h3>
    <p>IDE, SCSI und S-ATA Festplatten. Allgemeine Information.</p>
    <h3>Datenrettung USB-Stick</h3>
    <p>Datenrettung von USB-Sticks mit Flash Speicher.</p>
</section>

{{ partial "home/prices" . }}

{{ end }}