<footer class="footer content-grid">
    <div class="footer__top">
        <div class="footer__navs">
            {{ partial "menu" (dict "menuID" "main" "page" .) }}
        </div>
        <div class="footer__navs">
            {{ partial "menu" (dict "menuID" "service" "page" .) }}
            {{/*  {{ partial "footer/footer-nav.html" "service" }}
            {{ partial "footer/footer-nav.html" "info" }}  */}}
        </div>

        <div class="footer__main">
            <a class="footer__logo" href="{{ site.Home.RelPermalink }}">
                {{/*  {{ partialCached "logo-svg" . }}  */}}
                <h2>{{ site.Title }}</h2>
            </a>
            <div class="footer__contacts">
                <div class="footer__contacts-part">
                    {{ site.Params.email }}<br>
                    {{- range site.Params.phones }}
                    {{ . | markdownify }}<br>
                    {{- end }}
                </div>
                <div class="footer__contacts-part">
                    {{- range site.Params.address }}
                    {{ . | markdownify }}<br>
                    {{- end }}
                </div>
                {{ with site.Params.mapRoute }}
                <div class="footer__contacts-part">
                    <a href="{{ . }}" target="_blank" rel="noopener noreferrer">
                        Eine Route zu uns bauen
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ partial "footer/footer-legal.html" . }}
</footer>