<section class="home-hero content-grid">
    <div class="hero breakout">
        <div class="hero__bcg"></div>
        <div class="hero__text">
            <h2>HDDLab Datenrettung</h2>
            <p>Fotos unserer ReinräumeHDDLab Datenrettung bietet Ihnen professionelle Datenrettung im Berliner Reinraum Labor zu einem
                fairen Preis. Wir beschäftigen auf Datenrettung qualifizierte Ingenieure und verfügen über die entsprechenden
                Laboreinrichtung sowohl auf Soft- als auch auf Hardwareebene.</p>
                <button class="hero__cta">Erfahren Sie mehr</button>
        </div>
        <div class="hero__banner">
            <img src="https://unsplash.it/900/600" alt="banner">
        </div>
    </div>
</section>