<section class="prices full-width">
    <h2>Datenrettung zum Festpreis</h2>
    <div class="home-prices">
        <div class="p-card">
            <h3 class="p-card__title">Logischer Schaden</h3>
            <p class="p-card__price">300–500 EUR</p>
            <p class="p-card__descr">Datenwiederherstellung bei beschädigten Verzeichnissstrukturen und Gelöschten
                Daten, leichten Oberflächenschäden der
                Magnetoberfläche.</p>
        </div>

        <div class="p-card">
            <h3 class="p-card__title">Physikalischer Schaden</h3>
            <p class="p-card__price">300–900 EUR</p>
            <p class="p-card__descr">Datenrettung bei Headchrash, Elektronikschaden, mechanische Schäden, Schäden im
                Initialisierungsbereich (Microcode), schwere Oberflächenschäden.</p>
        </div>

        <div class="p-card">
            <h3 class="p-card__title">RAID, Server Systeme</h3>
            <p class="p-card__price">300–900 EUR</p>
            <p class="p-card__descr">RAID-Level 0, 1, 5, 10.</p>
        </div>

        <div class="p-card">
            <h3 class="p-card__title">Express – Service</h3>
            <p class="p-card__price">300–500 EUR</p>
            <p class="p-card__descr">24 Std. Service für alle Datenrettungen im Express-Service auch am Wochenende.</p>
        </div>
    </div>
</section>