<section class="services">
    <h2>Services</h2>
    <div class="home-services">

        <div class="service">
            <img src="https://assets.codepen.io/308367/betteroutreach-logo.avif" alt="" class="logo">
            <div class="product__info">
                <h3 class="fw-bold">Datenrettung von</h3>
                <p>RAID<br>
                    Server<br>
                    SAN - NAS<br>
                    Virtuelle Systeme</p>
            </div>
        </div>

        <div class="service">
            <img src="https://assets.codepen.io/308367/sliderule-logo.avif" alt="" class="logo">
            <div class="product__info">
                <h3 class="fw-bold">Unsere Services</h3>
                <p>Datenrettung<br>
                    Tape-Services<br>
                    Datenlöschung<br>
                    Datenmanagement</p>
            </div>
        </div>

        <div class="service">
            <img src="https://assets.codepen.io/308367/kmenu.avif" alt="" class="logo">
            <div class="product__info">
                <h3 class="fw-bold">Softwareprodukte</h3>
                <p>DIY-Datenrettung<br>
                    E-Mail Restore<br>
                    Datenlöschung</p>
            </div>
        </div>
    </div>
</section>