:root,
::backdrop {
    --main-bg: hsl(0 0% 100%);
    --mid-bg: hsl(204 10% 94%);
    --brand-bg: hsl(204 100% 16%);
    --brand-bg: #032553;
    --button-bg: hsl(204 100% 38%);
    --deep-bg: hsl(204 100% 67%);

    // @media (prefers-color-scheme: dark) {
    //     --main-bg: hsl(0, 0%, 0%);
    //     --mid-bg: hsl();
    //     --brand-bg: hsl();
    // }
}